@charset "UTF-8";

/* Declaração Geral */
* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body {
    
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    padding: 10px;
    color: black;
    text-shadow: 2px 2px 1px white;
}
/* Declaração Retrato */
@media screen and (orientation: portrait) {
    body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center;
}
}
/* Declaração Paisagem */
@media screen and (orientation: landscape) {
    body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: center;
}
}

