@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #2352A9, #0468BF);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #1d458f; 
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

p {
    text-align: justify;
}

h1 {
    color: #1d458f;
    text-align: center;
    text-shadow: 1px 1px 1px #16346d;
}

h2 {
    color: #0468BF;
}